html, body, #root {
	height: 100%;
	width: 100%;
}
.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
}

.header {
	display: flex;
	justify-content: center;
}
.header__info {
	margin-left: 40px;
}
.header__level {
	font-size: 20px;
}
.game, .advance {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	font-size: 15vw;

}
.advance {
	font-size: 5vw;
}
.advance button,
.header button {
	padding: 4vw 12vw;
	font-size: 10vw;
	border: 10px solid #cc9933;
	/* background-color: ; */
	color: #cc9933;
	/* text-shadow: 8px 11px 11px rgb(126, 91, 21); */
	border-radius: 14vw;
	box-shadow: 0px 0px 3px 9px rgb(126, 91, 21), inset 0px 0px 4px 4px rgb(126, 91, 21);
}
.header button {
	margin: 5px;
	font-size: 20px;
	padding: 7px 10px;
	border-width: 3px;
	box-shadow: 0px 0px 1px 2px rgb(126, 91, 21), inset 0px 0px 1px 2px rgb(126, 91, 21);
}
.advance button:hover, .advance button:focus {
	outline: none;
	background-color: rgba(204,153,51,.1);
	/* text-shadow: none; */
}
.advance button:active {
	transform: scale(.98);
	text-shadow: none;
	box-shadow: 0px 0px 16px 15px rgb(126, 91, 21), inset 0px 0px 4px 4px rgb(126, 91, 21);
}

.answer {
	position: relative;
}
.answer input {
	font-size: 14vw;
	width: 18vw;
	padding: 12px;
	text-align:	center;
	border: none;
	overflow: visible;
	background-color: rgba(40,60,10,.2);
}
.answer input[type="submit"] {
	width: 0;
	height: 0;
	position: absolute;
	left: -99999px;
	top: 0;
}
.answer .marker {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: green;
}
.answer .marker.marker--incorrect {
	color: red;
}
.guesses {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2vw;
}
.guesses ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
}
.guesses li {
	padding-right: 8px;
}
.guesses li:after {
	content: "x";
	display: block;
	position: absolute;
	color: red;
	top: 0;
	opacity: .6;
	line-height: 1.2;
}